**/postgres/
**/library/
**/.env
backrest/data/
backrest/config/
caddy/config/
caddy/data/
adguard/conf/
adguard/work/
uptime-kuma/data/
netdata/lib/
netdata/cache/
netdata/config/
paperless/data/
paperless/media/
paperless/redis/
paperless/pgdata/
