# Local .home domains (LAN + Tailscale via subnet routing)
http://immich.home {
    reverse_proxy immich_server:2283
}

http://backrest.home {
    reverse_proxy backrest:9898
}

http://adguard.home {
    reverse_proxy adguard:80
}

http://uptime-kuma.home {
    reverse_proxy uptime-kuma:3001
}

http://netdata.home {
    @root path /
    redir @root /v3 302
    reverse_proxy netdata:19999
}

http://paperless.home {
    reverse_proxy paperless:8000
}

http://vikunja.home {
    reverse_proxy vikunja:3456
}

http://filebrowser.home {
    reverse_proxy filebrowser:80
}

http://memos.home {
    reverse_proxy memos:5230
}

